.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
    padding: 30px;
}

.search-form input,
.search-form button {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.search-form button {
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* Results Styling */
.results {
    margin-top: 20px;
    /* border-top: 2px solid #007bff; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    padding-top: 10px;
}

.result-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}


/* Heading Styling */
.heading {
    text-align: center;
    font-size: 42px;
    color: #000000;
    margin: 10px 0;
}

/* Footer Styling */
.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}

/* Adjust the page container */
.page-container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px; /* Footer height */
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}


.movie-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.movie-title {
    color: #007bff;
    margin: 0 0 10px;
}

.movie-detail {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}

.movie-detail strong {
    color: #007bff;
}